@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #FEFEFE;
    --secondary-color: #2639ED;
    --secondary-color-light: #F4F9FF;
    --default-color: #000000;

    --text-font: 'Poppins', sans serif;
}

body {
    font-family: var(--text-font);
}
.container {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0px 80px;   
    justify-content:space-between;
    align-items: center;
    list-style: none;
}

#studio {
    font-size: 1.7em;
    
}

.menu_de_nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.começo {
    background-image: url(../../imagens/bg-hero.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.começo > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 150px;
    min-width: 350px;
    height:300px;
    width:500px;
    flex-wrap: wrap;
    margin: 80px;
    
}
.começo > div > div > h1{
    font-size: 1.5em;
    font-weight: bolder;
}

.botão-contato {
    height: 35px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: #2639ED;
}
.botão-contato > a {
    color: white;
    text-decoration: none;
}