.our-client {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 124px;
    padding: 40px 0;
}

.our-client-content {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-client-content .title-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.our-client-content .title-text h1 {
    font-size: 40px;
    font-weight: 600;
}

.our-client-content .title-text p {
    font-size: 16px;
    color: #757575;
    line-height: 26px;
}

.our-client-content .logos {
    display: flex;
    align-items: center;
    gap: 60px;
}